.pagination {
  box-sizing: border-box;

  &__nav {
    margin-top: 30px;
  }

  &__pages {
    margin: 20px;
  }

  &__page,
  &__current-page {
    margin: 0 10px;
    padding: 3px 10px;
    border: 1px solid lightgray;
    border-radius: 100%;
    cursor: pointer;

    transition: background-color 0.3s ease-in-out,
      border-color 0.3s ease-in-out;

      &:hover {
      background-color: #84a9ac;
      border-color: #84a9ac;
      color: white;
    }
  }

  &__current-page {
    border: 2px solid gray;
    font-weight: 700;
  }
}
