.pagination {
  box-sizing: border-box;

  &__nav {
    margin-top: 30px;
  }

  &__pages {
    margin: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__page,
  &__current-page {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 2px;
    padding: 1px;
    border: 1px solid lightgray;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;

    transition: background-color 0.3s ease-in-out,
      border-color 0.3s ease-in-out;

      &:hover {
      background-color: #84a9ac;
      border-color: #84a9ac;
      color: white;
    }
  }

  &__current-page {
    border: 2px solid gray;
    font-weight: 700;
  }
}
