.header {
  background-color: #84a9ac;

  &__menu {
    padding: 10px 0;
    margin-bottom: 10px;
  }

  &__label {
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
  }

  &__input {
    box-sizing: border-box;
    height: 40px;
    width: 300px;
    border-radius: 5px;
    font-size: 20px;
    letter-spacing: 2px;
    border-style: none;
    border-radius: 10px;
    padding-left: 25px;
    outline: none;
    background-image: url('../../images/search.png');
    background-position: 2px 8px;
    background-repeat: no-repeat;
    transition: width 1s ease-in-out;

    &:hover {
      background-color: #e4e3e3;
    }

    &:focus {
      width: 100%;
    }
  }
}