.details {
  &__header{
    text-align: center;
  }

  &__image{
    border-radius: 10px;
  }

  &__title{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
  }

  &__bottom{
    text-align: center;
    color: blue;
  }
}
