html {
  background-color: #84a9ac;
  box-sizing: border-box;
}

.page {
  display: grid;
  grid-template: auto / 2fr 400px;
  column-gap: 20px;
  min-height: 100vh;

  &__content {
    padding: 20px;
    background-color: #e4e3e3;
    border-radius: 10px;
  }

  &__pagination {
    text-align: center;
  }

  &__sidebar {
    padding: 20px;
    border-left: 1px solid lightgray;
    background-color: #e4e3e3;
    border-radius: 10px;
  }
}
